.input-fields{
    height: 300px;
    width: 300px;
    background: rgba(250, 128, 114, 0.9);
    border-radius: 10px;
}
.map-style{
    height: 500px;
    width: 90%;
}
.fareTable{
    height: 350px;
    width: 300px;
    background: rgba(19, 228, 183, 0.682);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}
.rideStyle{
    width: 94%;
    height: 22%;
    background-color: rgba(255, 255, 255, 0.741);
    margin: 5px auto;
    align-items: center;
    border-radius: 0.5rem;
}
.rideIcon{
    width: 60px;
    margin: 7px;
    float: left;
}
.peopleIcon{
    width: 30px;
    margin: 7px;
    margin-top: 25px;
    float: left;
    align-items: center;
    justify-content: center;
}
.passengerNumber{
    margin-top: 25px;
    float: left;
    align-items: center;
    justify-content: center;
}
.priceStyle{
    margin-top: 25px;
    margin-right: 15px;
    float: right;
    align-items: center;
    justify-content: center;
}